<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Home</title>
    <style>
      body{
        background-color: #343233;
        color: #eed9b7;
      }
      .content{
        padding-left: 20%;
        padding-right: 20%;
      }
      .heading{
        text-align: center;
        font-size: 45px;
        font-family: fantasy;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-style: dotted;
      }
      a{
        color: #eed9b7;
      }
      li{
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <p class="heading">Flask Store API</p>
      <h1 align="center">Api routes</h2>
      <ul>
        <li>Store List: <a href="https://flask-restful-api-store.herokuapp.com/stores">click here</a></li>
        <li>Item List: <a href="https://flask-restful-api-store.herokuapp.com/items">click here</a></li>
        <li>Store/&ltname&gt (get, post, put, delete)</li>
        <li>Item/&ltname&gt (get, post, delete)</li>
        <li>User Registration (post)</li>
        <li>Authentication (JWT)</li>

      </ul>
    </div>
  </body>
</html>
